{% extends 'landing.html.twig' %}

{% block title %}Bienvenue{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/landing.css') }}">
{% endblock %}

{% block content %}
    <div class="centered">
        <img src="{{ asset('assets/images/main_logo.png') }}" alt="Logo Pizza Mama">
        <a href="{{ path('index') }}">Entrer Sur le site</a>
    </div>
{% endblock %}
